@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #323232;
    scroll-behavior: smooth;

}

.negativeBannerImg{
    top: -40px;
    position: relative;
}

@layer components{
    .MintBtn{
        @apply text-center
                w-full
                border-4
                border-l-white
                border-t-white
                border-b-slate-300
                border-r-slate-300
                text-2xl
                py-3
                font-bold
                text-amber-400
        ;
    }
}