@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url(../assets/images/Vector-grande\ \(1\).png);
    background-repeat: repeat;
    background-size: 100% auto;
}

.negativeBannerImg{
    top: -40px;
    position: relative;
}

@layer components{
    .MintBtn{
        @apply text-center
                w-full
                border-4
                border-l-white
                border-t-white
                border-b-slate-300
                border-r-slate-300
                text-2xl
                py-3
                font-bold
                text-amber-400
        ;
    }
}